.body{
    margin-left: 20%;
    margin-right: 20%;
}

div {
    text-align: center;
}


.body1 {
    width: 100%;
    height: 200px;
    background-color: lightsteelblue;
    /* font-family: 'Gothic A1', sans-serif; */
}

.body1_1 {
    width: 50%;
    display: inline-block;
}

.body1_2 {
    width: 50%;
    display: inline-block;
}

.option {
    /* background-color: cadetblue; */
    height: 50px;
    display: flex;
    align-items: center;
    position: relative;
    border-top: solid lightgray 1px;
}
.option1 {
    padding: 25px;
    color: black;
    display: block;
    margin-left: auto;
    font-family: 'Roboto', sans-serif;
}

.option2 {
    padding: 25px;
    color: black;
    display: block;
    margin-right: auto;
    font-family: 'Roboto', sans-serif;
}

.container {
    padding: 100px;
    /* margin: 150px; */
    background-color: rgb(226, 226, 226);
    font-family: 'Roboto', sans-serif;
}

.col-md-4 {
    border : 5px;
    border-color: black;
    
}
/* .Nav_modal {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    position: fixed;
    opacity: 0.9;
  }
  
  .Nav_modalin {
    width: 186px;
    height: 186px;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    border-radius: 14px;
    font-family: "Jalnan";
  }
  
  .Nav_modbtn {
    border: 0px;
    background-color: white;
  } */