div {
    text-align: center;
}

.option1 {
    padding: 20px;
    background-color: sandybrown;
}

.option2 {
    padding: 20px;
    background-color: skyblue;
}

.table td{
    padding: 15px;
    border: 5px;
}
